.bbt{
	padding: 2px;
	border : 2px solid #eeeeee;
	text-align: center;
	margin-left:1%;
	padding: 8px;
	border-radius: 5px;
}
button{
	margin: 2px;
	background-color: #031926;
	color: white;
	border: none;
	border-radius: 4.5px;
	padding: 10px 20px;
}

.hd{
text-align: center;
}

.hd img{
	border-radius: 10px;
}

.bigf{
	font-size: 24px;
}

.c2{
	background-color: #ffede0;
	border-radius: 10px;
  padding-right: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 90%;
  text-align: left;
}

.container{
  width: 650px;
  margin-left: 25%;
}

*{
  font-family: sans-serif
}
